<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>操作学生页面</title>
</head>
<body>
    {% if user.is_authenticated %}
        {% if perms.auth_perm_app.add_student %}
            <a href="#" style="color:green">添加新生</a>  <br/> <br/>
        {% endif %}

        {% if perms.auth_perm_app.change_student %}
            <a href="#" style="color:blue">修改学生</a>  <br/> <br/>
        {% endif %}

        {% if perms.auth_perm_app.visit_vip %}
            <a href="#" style="color:lightpink">访问VIP学生~~~</a>   <br/> <br/>
        {% endif %}

        {% if perms.auth_perm_app.delete_student %}
            <a href="#" style="color:red">删除学生（谨慎操作！！！）</a>   <br/> <br/>
        {% endif %}
    {% else %}
        <h4>  您还未登录，请先<a href="{% url 'ap:log' %}">登录</a>  </h4>
    {% endif %}
</body>
</html>